@charset "UTF-8";
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
body {
  width: 100%;
  font-size: 16px;
  font-family: "Cambria", "Avenir", sans-serif;
  line-height: 1.6875;
  box-sizing: border-box;
  background: #FAFAFA;
  color: #222222;
  letter-spacing: 0.12em;
}

.body__border {
  margin: 15px;
  border: 0.5px solid #222222;
}

img {
  width: 100%;
}

.section__title {
  font-size: 50px;
}
@media screen and (max-width: 767px) {
  .section__title {
    font-size: 30px;
  }
}
.section__title-box {
  text-align: center;
}
.section__title-sub {
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #7E7A7A;
}
@media screen and (max-width: 767px) {
  .section__title-sub {
    line-height: 13px;
    font-size: 10px;
  }
}

.fadeIn {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 1s;
}

.fade.active {
  opacity: 1;
  transform: translateY(0px);
}

.drawer--right .drawer-hamburger {
  right: 40px;
  top: 40px;
}
@media screen and (max-width: 767px) {
  .drawer--right .drawer-hamburger {
    right: 17px;
    top: 13px;
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 40px;
  top: 20px;
}
@media screen and (max-width: 767px) {
  .drawer--right.drawer-open .drawer-hamburger {
    right: 17px;
    top: 13px;
  }
}

@media screen and (min-width: 768px) {
  .drawer--right .drawer-nav {
    right: -23.25rem;
  }
}

.drawer-nav {
  background: #464545;
}
@media screen and (min-width: 768px) {
  .drawer-nav {
    width: 23.25rem;
  }
}

.drawer-brand {
  text-align: center;
  display: block;
  font-size: 28px;
  border-bottom: 0.5px solid #d8d8d9;
  color: #d8d8d9;
}

.drawer-menu {
  width: 185px;
  margin: 100px auto;
}

.drawer-menu-item {
  border-bottom: 0.5px solid #d8d8d9;
  font-size: 19px;
  padding: 10px 0;
  color: #d8d8d9;
}

/*=================================
スライダー
===================================*/
.slider {
  max-width: 850px;
  margin: 100px auto;
}
@media screen and (max-width: 767px) {
  .slider {
    width: 300px;
    margin: 0 auto;
  }
}

.slider img {
  width: 300px;
  height: auto;
}

.slider .slick-slide {
  transform: scale(0.8);
  transition: all 0.5s;
  opacity: 0.5;
}

.slider .slick-slide.slick-center {
  transform: scale(1);
  opacity: 1;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -5.5%;
  transform: rotate(-135deg);
  margin-right: 20px;
}

.slick-next {
  right: -5.5%;
  transform: rotate(45deg);
}

.header {
  position: absolute;
  padding: 0 90px;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
}
@media only screen and (max-width: 900px) {
  .header {
    padding: 0 40px;
  }
}
.header__logo {
  width: calc((100% - 420px) / 2);
  padding: 20px 0;
}
@media only screen and (max-width: 900px) {
  .header__logo {
    width: calc((100% - 370px) / 2);
  }
}
.header__logo h1 {
  font-size: 37px;
  margin: 0;
  font-family: "Times New Roman", "Plantagenet Cherokee", sans-serif;
}
@media only screen and (max-width: 900px) {
  .header__logo h1 {
    font-size: 25px;
  }
}
.header__logo p {
  line-height: 0.2;
  margin-left: 4px;
  font-size: 14px;
  color: #7E7A7A;
}
@media only screen and (max-width: 900px) {
  .header__logo p {
    font-size: 10px;
  }
}
.header__nav {
  width: 420px;
}
@media only screen and (max-width: 900px) {
  .header__nav {
    width: 370px;
  }
}
.header__nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-item {
  font-size: 18px;
  color: #222222;
}
.header__nav-item:hover {
  border-bottom: 3px solid #F97979;
  padding-top: 3px;
}
.header__icon {
  width: calc((100% - 420px) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 15px;
}
@media only screen and (max-width: 900px) {
  .header__icon {
    width: calc((100% - 370px) / 2);
  }
}
.header__icon-search {
  width: 30px;
}
@media only screen and (max-width: 900px) {
  .header__icon-search {
    width: 18px;
  }
}
.header__icon-basket {
  margin-left: 30px;
  padding-bottom: 16px;
  width: 37px;
}
@media only screen and (max-width: 900px) {
  .header__icon-basket {
    width: 22px;
    margin-left: 20px;
  }
}

.top {
  background: url(../img/Rectangle\ 8-min.png) no-repeat center center/cover;
  height: 750px;
}
@media only screen and (max-width: 900px) {
  .top {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .top {
    height: 150px;
  }
}
.top__container {
  display: flex;
  justify-content: space-between;
}
.top__left {
  margin-left: 40px;
}
@media only screen and (min-width: 1400px) {
  .top__left {
    margin-left: 15%;
  }
}
@media screen and (max-width: 767px) {
  .top__left {
    margin-left: 20px;
  }
}
.top__text {
  height: 200px;
  margin-top: 220px;
}
@media only screen and (max-width: 900px) {
  .top__text {
    margin-top: 170px;
    height: 70px;
  }
}
@media screen and (max-width: 767px) {
  .top__text {
    height: 35%;
    margin: 50px 0 0;
  }
  .top__text h1 {
    margin: 0;
    line-height: 14px;
  }
}
.top__text-title {
  font-size: 55px;
  line-height: 1.5;
  font-family: "Times New Roman", "Plantagenet Cherokee", sans-serif;
}
@media only screen and (max-width: 900px) {
  .top__text-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .top__text-title {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1800px) {
  .top__text-title h2 br {
    display: none;
  }
}
.top__text-title-sub {
  line-height: 2.7;
  color: #7E7A7A;
  font-size: 10px;
  margin-left: 2px;
}
@media only screen and (max-width: 900px) {
  .top__text-title-sub-p {
    display: none;
  }
}
.top__sns {
  display: flex;
  margin-top: 70px;
}
@media screen and (max-width: 767px) {
  .top__sns {
    justify-content: center;
    margin-top: 10px;
  }
}
.top__sns-facebook {
  width: 20px;
}
.top__sns-facebook a {
  color: #222222;
}
@media screen and (max-width: 767px) {
  .top__sns-facebook {
    width: 13px;
  }
}
.top__sns-twitter {
  width: 20px;
  margin-left: 15px;
}
.top__sns-twitter a {
  color: #222222;
}
@media screen and (max-width: 767px) {
  .top__sns-twitter {
    width: 13px;
  }
}
.top__sns-instagram {
  width: 20px;
  margin-left: 15px;
}
.top__sns-instagram a {
  color: #222222;
}
@media screen and (max-width: 767px) {
  .top__sns-instagram {
    width: 14px;
  }
}
.top__img {
  max-width: 700px;
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .top__img {
    width: 57%;
  }
}

.process__items {
  margin: 100px auto 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 1000px;
}
@media screen and (max-width: 767px) {
  .process__items {
    margin: 110px auto 70px;
    width: 80%;
  }
}
.process__item {
  position: relative;
  max-width: 230px;
  height: 270px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .process__item {
    height: 100px;
  }
}
.process__item-title {
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25em;
}
@media screen and (max-width: 767px) {
  .process__item-title {
    font-size: 12px;
    margin-bottom: 15px;
  }
}
.process__item-img {
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .process__item-img {
    width: 65px;
  }
}
.process__item-imgK {
  width: 65%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .process__item-imgK {
    width: 60px;
  }
}
.process__item-imgT {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
}
@media screen and (max-width: 767px) {
  .process__item-imgT {
    width: 75px;
    padding-top: 0;
  }
}
.process__item-text {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .process__arrow {
    width: 15px;
  }
}

.service {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .service {
    height: 800px;
  }
}
.service__title {
  color: #222222;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 0.2em;
}

.news {
  position: relative;
  width: 100%;
  height: 500px;
  background: rgba(229, 229, 230, 0.4784313725);
}
@media screen and (max-width: 767px) {
  .news {
    margin-top: 40px;
  }
}
.news__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 670px;
}
@media screen and (max-width: 767px) {
  .news__items {
    width: 75%;
  }
  .news__items li:not(:first-child) {
    margin-top: 40px;
  }
}
.news__item {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  background-image: linear-gradient(to right, #4a4a4b 1px, transparent 1px);
  background-size: 5px 1px;
  background-repeat: repeat-x;
  background-position: bottom;
}
@media screen and (max-width: 767px) {
  .news__item {
    display: initial;
  }
}
.news__item-date {
  color: #4a4a76;
  font-size: 14px;
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .news__item-date {
    font-size: 12px;
  }
}
.news__item-title {
  color: #222222;
  font-size: 20px;
  font-family: "Times New Roman", sans-serif;
}
.news__item-title:hover {
  color: #b5b4b4;
}
@media screen and (max-width: 767px) {
  .news__item-title {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #4a4a4b 1px, transparent 1px);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
  }
}

.gallery {
  margin-top: 170px;
}
@media screen and (max-width: 767px) {
  .gallery {
    margin-top: 100px;
  }
}
.gallery__container {
  display: flex;
  margin: 70px auto 0;
  width: 740px;
  height: 410px;
}
@media screen and (max-width: 767px) {
  .gallery__container {
    width: 85%;
    margin: 40px auto;
  }
}
@media screen and (max-width: 767px) {
  .gallery__container {
    flex-direction: column-reverse;
    margin-top: 250px;
  }
}
.gallery__container-left {
  width: 62%;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .gallery__container-left {
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .gallery__container-left {
    width: 100%;
    margin-top: 30px;
  }
}
.gallery__container-right {
  width: 38%;
}
@media screen and (min-width: 768px) {
  .gallery__container-right {
    height: 362px;
  }
}
@media screen and (max-width: 767px) {
  .gallery__container-right {
    width: 70%;
    margin: 0 auto;
    height: auto;
  }
}
.gallery__container-right img {
  border: 3px solid #F97979;
}
@media screen and (min-width: 768px) {
  .gallery__container-right img {
    height: 362px;
  }
}
.gallery__left-upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery__left-lower {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery__item {
  width: 140px;
}
@media screen and (max-width: 767px) {
  .gallery__item {
    width: 92px;
  }
}
.gallery__item-title {
  height: 40px;
  line-height: 1;
  font-size: 14px;
}

.customize {
  margin-top: 170px;
}
@media screen and (max-width: 767px) {
  .customize {
    margin-top: 100px;
  }
}
.customize__container {
  display: flex;
  max-width: 800px;
  margin: 100px auto 0;
}
@media screen and (max-width: 767px) {
  .customize__container {
    display: initial;
    width: 100%;
  }
}
.customize__left {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .customize__left {
    margin-top: 40px;
    width: 100%;
  }
}
.customize__left img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .customize__left img {
    width: 200px;
    height: 200px;
  }
}
.customize__right {
  position: relative;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .customize__right {
    margin-top: 30px;
    width: 100%;
  }
}
.customize__right-box {
  width: 310px;
}
@media screen and (min-width: 768px) {
  .customize__right-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 767px) {
  .customize__right-box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
.customize__list {
  display: flex;
  font-size: 20px;
  margin: 30px 0;
}
@media screen and (max-width: 767px) {
  .customize__list {
    display: inherit;
    margin: 0px;
    font-size: 15px;
  }
}
.customize__list-center {
  display: flex;
  font-size: 20px;
  margin-left: 60px;
}
@media screen and (max-width: 767px) {
  .customize__list-center {
    display: initial;
    margin: 0px;
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .customize__item {
    margin-right: 40px;
  }
}

.shop {
  margin-top: 170px;
}
@media screen and (max-width: 767px) {
  .shop {
    margin-top: 100px;
  }
}
.shop__img {
  max-width: 400px;
  margin: 50px auto;
}
@media screen and (max-width: 767px) {
  .shop__img {
    width: 250px;
    margin: 40px auto;
  }
}
.shop__information {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .shop__information {
    width: 100%;
  }
}
.shop__information-item {
  margin-top: 10px;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .shop__information-item {
    font-size: 12px;
  }
}
.shop__contact {
  width: 150px;
  margin: 65px auto;
  display: flex;
  justify-content: space-between;
}
.shop__contact-item {
  text-align: center;
}
.shop__contact-item p {
  font-size: 10px;
  line-height: 0.5;
}
.shop__contact-item img {
  width: 50px;
}

.footer {
  width: 100%;
  height: 250px;
  background: #F4EAF3;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 228px;
  }
}
.footer__container {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (max-width: 900px) {
  .footer__container {
    padding: 0 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo-box {
    width: calc((100% - 450px) / 2);
  }
}
@media only screen and (max-width: 900px) {
  .footer__logo-box {
    width: calc((100% - 350px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .footer__logo-box {
    width: 150px;
    padding-top: 40px;
    margin: 0 auto;
  }
}
.footer__logo {
  font-family: "Times New Roman", "Plantagenet Cherokee", sans-serif;
  font-size: 30px;
}
@media only screen and (max-width: 900px) {
  .footer__logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo {
    font-size: 28px;
    line-height: 30px;
  }
}
.footer__logo-sub {
  font-size: 10px;
  margin-left: 3px;
}
@media screen and (max-width: 767px) {
  .footer__logo-sub {
    line-height: 10px;
    color: #6b6a6a;
  }
}
.footer__middle {
  width: 450px;
}
@media only screen and (max-width: 900px) {
  .footer__middle {
    width: 350px;
  }
}
@media screen and (max-width: 767px) {
  .footer__middle {
    width: 270px;
    margin: 0 auto;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    margin-top: 30px;
  }
}
.footer__nav-list {
  color: #222222;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .footer__nav-list {
    font-size: 14px;
    letter-spacing: 0.04em;
  }
}
.footer__icon {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    width: calc((100% - 450px) / 2);
    justify-content: flex-end;
    margin-bottom: 3px;
  }
}
@media only screen and (max-width: 900px) {
  .footer__icon {
    width: calc((100% - 350px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .footer__icon {
    justify-content: center;
    margin: 30px auto 0;
  }
}
.footer__icon-facebook {
  width: 20px;
  color: #222222;
}
@media screen and (max-width: 767px) {
  .footer__icon-facebook {
    width: 16px;
  }
}
.footer__icon-twitter {
  width: 20px;
  margin-left: 15px;
  color: #222222;
}
@media screen and (max-width: 767px) {
  .footer__icon-twitter {
    width: 16px;
  }
}
.footer__icon-instagram {
  width: 21px;
  margin-left: 15px;
  color: #222222;
}
@media screen and (max-width: 767px) {
  .footer__icon-instagram {
    width: 17px;
  }
}
.footer__small {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .footer__small {
    color: #929394;
  }
}

.Catalog__top {
  background: url(../img/Rectangle\ 8-min.png) no-repeat;
  background-size: cover;
  width: 100%;
}
@media only screen and (min-width: 1700px) {
  .Catalog__top {
    height: 600px;
  }
}
.Catalog__top-text {
  padding: 150px 0;
  margin: 0 auto;
  width: 450px;
  text-align: center;
}
.Catalog__top-title {
  font-size: 55px;
}
.Catalog__top-p {
  font-size: 14px;
}
.Catalog__items {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 150px;
  background-image: linear-gradient(to right, #b0b0b1 3px, transparent 1px);
  background-size: 8px 7px;
  background-repeat: repeat-x;
  background-position: bottom;
}
.Catalog__item {
  width: 250px;
  margin-top: 40px;
}
.Catalog__item-title {
  font-weight: 700;
}
.Catalog__item-price {
  font-size: 12px;
}
.Catalog__NewCakes {
  width: 100%;
}
.Catalog__NewCakes-container {
  display: flex;
  max-width: 900px;
  margin: 150px auto;
}
.Catalog__NewCakes-circle {
  position: absolute;
  top: -43px;
  left: -38px;
}
.Catalog__NewCakes-circle-text {
  position: relative;
  width: 347px; /* 直径 */
  height: 332px; /* 直径 */
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  transform: rotate(-86deg); /* 円の回転 */
  color: #F97979;
}
.Catalog__NewCakes-circle-text span {
  position: absolute;
  top: 0;
  left: calc(50% - 15px); /* 中心点、、文字サイズ分ずらす */
  display: inline-block;
  width: 30px; /* 文字サイズより小さくしない */
  height: 170px; /* 半径 */
  transform-origin: center bottom; /* 回転の基準点 */
}
.Catalog__NewCakes-circle-text span:nth-child(1) {
  transform: rotate(50deg);
}
.Catalog__NewCakes-circle-text span:nth-child(2) {
  transform: rotate(65deg);
}
.Catalog__NewCakes-circle-text span:nth-child(3) {
  transform: rotate(80deg);
}
.Catalog__NewCakes-circle-text span:nth-child(4) {
  transform: rotate(92deg);
}
.Catalog__NewCakes-img {
  width: 50%;
}
.Catalog__NewCakes-img-box {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
}
.Catalog__NewCakes-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.Catalog__NewCakes-right {
  position: relative;
  width: 50%;
}
.Catalog__NewCakes-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Catalog__NewCakes-title {
  font-size: 55px;
  margin-top: 70px;
}
.Catalog__NewCakes-btn {
  display: inline-block;
  width: 200px;
  padding: 10px 30px;
  color: #fff;
  position: relative;
  background: #0e0e0e;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .Catalog__NewCakes-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 5px);
    right: 50px;
    width: 50px;
    height: 5px;
    border: none;
    border-right: 2px solid #fff;
    border-bottom: 1px solid #fff;
    transform: skew(45deg);
    transition: 0.3s;
  }
  .Catalog__NewCakes-btn:hover::after {
    right: 20px;
    width: 70px;
  }
}
/*# sourceMappingURL=style.css.map */